In [ ]:
1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a
file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system'

with open('test.txt', 'w') as file:
    file.write(test1)

In [ ]:
2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?

In [2]:
with open('test.txt', 'r') as file:
    test2 = file.read()

# Compare test1 and test2
if test1 == test2:
    print("test1 and test2 have the same contents.")
else:
    print("test1 and test2 have different contents.")

test1 and test2 have the same contents.

In [ ]:
3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [3]:
import csv

lines = [
    ['title', 'author', 'year'],
    ['The Weirdstone of Brisingamen', 'Alan Garner', '1960'],
    ['Perdido Street Station', 'China Miéville', '2000'],
    ['Thud!', 'Terry Pratchett', '2005'],
    ['The Spellman Files', 'Lisa Lutz', '2007'],
    ['Small Gods', 'Terry Pratchett', '1992']
]

with open('books.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(lines)

print("books.csv file has been created successfully.")

books.csv file has been created successfully.

In [ ]:
4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).

In [4]:
import sqlite3

# Create a connection to the database
conn = sqlite3.connect('books.db')

# Create a cursor object to execute SQL commands
cursor = conn.cursor()

# Create the books table
cursor.execute('''
    CREATE TABLE books (
        title TEXT,
        author TEXT,
        year INTEGER
    )
''')

# Commit the changes and close the connection
conn.commit()
conn.close()

print("The books.db database and books table have been created successfully.")

The books.db database and books table have been created successfully.

In [ ]:
5. Read books.csv and insert its data into the book table.

In [5]:
import pandas as pd
df = pd.read_csv("books.csv")
df

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1         Perdido Street Station   China Miéville  2000
2                          Thud!  Terry Pratchett  2005
3             The Spellman Files        Lisa Lutz  2007
4                     Small Gods  Terry Pratchett  1992

In [ ]:
6. Select and print the title column from the book table in alphabetical order.

In [6]:
import sqlite3

# Create a connection to the database
conn = sqlite3.connect('books.db')

# Create a cursor object to execute SQL commands
cursor = conn.cursor()

# Select the title column from the books table in alphabetical order
cursor.execute("SELECT title FROM books ORDER BY title")

# Fetch all the rows from the result set
rows = cursor.fetchall()

# Print the title column
for row in rows:
    print(row[0])

# Close the connection
conn.close()

In [ ]:
7. From the book table, select and print all columns in the order of publication.

In [8]:
import sqlite3

# Create a connection to the database
conn = sqlite3.connect('books.db')

# Create a cursor object to execute SQL commands
cursor = conn.cursor()

# Select all columns from the books table in the order of publication
cursor.execute("SELECT * FROM books ORDER BY year")

# Fetch all the rows from the result set
rows = cursor.fetchall()

# Print all columns
for row in rows:
    print(row)

# Close the connection
conn.close()

In [ ]:
8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.

In [9]:
from sqlalchemy import create_engine

# Create an SQLAlchemy engine to connect to the database
engine = create_engine('sqlite:///books.db')

# Connect to the database
conn = engine.connect()

# Perform operations on the database

# Close the connection
conn.close()

In [ ]:
9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for
test.

In [10]:
pip install redis

Collecting redis
  Downloading redis-4.6.0-py3-none-any.whl (241 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 241.1/241.1 kB 6.4 MB/s eta 0:00:00
Requirement already satisfied: async-timeout>=4.0.2 in /usr/local/lib/python3.10/dist-packages (from redis) (4.0.2)
Installing collected packages: redis
Successfully installed redis-4.6.0

In [11]:
import redis

# Create a Redis client
r = redis.Redis()

# Create a Redis hash called "test" with fields "count" and "name"
r.hset("test", "count", 1)
r.hset("test", "name", "Fester Bestertester")

# Print all fields of the "test" hash
fields = r.hgetall("test")
for field, value in fields.items():
    print(f"{field.decode()}: {value.decode()}")

ConnectionError: ignored

In [ ]:
10. Increment the count field of test and print it.

In [ ]:
import redis

# Create a Redis client
r = redis.Redis()

# Increment the "count" field of the "test" hash
r.hincrby("test", "count", 1)

# Get the updated value of the "count" field
count = r.hget("test", "count")

# Print the updated value of the "count" field
print(f"Updated count: {count.decode()}")